<!-- genres.show -->
<h1> <%= @genre.name %> </h1>

<a href="/songs/<%= @genre.song.slug %>"> <%= @genre.song.name %> </a>


<ul>
  <% @genre.artists.each do |artist| %>
    <li><a href="/artists/<%= artist.slug %>"><%= artist.name %> </a></li>
  <% end %>
</ul>
