<h1>Update a Song</h1>
<h2>Current Name: <%= @song.name %></h2>

<form action="/songs/<%= @song.slug %>" method='POST'>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="Name">Song Name: </label>
  <input type='text' id="Name" name='song[name]' value='<%= @song.name %>'>

 <h2>Artist</h2>
  <h3>Existing Artist</h3>
  <% @artists.each do |artist| %>
    <input type="radio" id="<%= artist.id %>" value="<%= artist.id %>" name="song[artist_id]" <%='checked' if @song.artist = artist %>><%= artist.name %></input>
  <%end%>
  <h3>New Artist</h3>
  <label for="artist_name">Artist Name: </label>
  <input type='text' id="artist_name" name='artist[name]'>

  <h2>Genres</h2>
   <h3>Existing Genre</h3>
   <% @genres.each do |genre| %>
     <input type="checkbox" id="<%= genre.name %>" value="<%= genre.id %>" name="song[genre_ids][]" <%='checked' if @song.genres.include?(genre) %>><%= genre.name %></input>
   <%end%>
   <h3>New Genre</h3>
   <label for="genre_name">Genre Name: </label>
   <input type='text' id="genre_name" name='genre[name]'><br><br>

   <input type='submit' id="Save" value='Save'>
</form>
