<h1><%= @artist.name %></h1><br>

<h2>Songs</h2>

  <ul>
    <li> <% @artist.songs.each do |song| %>
    <a href="/songs/<%= song.slug %>"> <%= song.name %></a> 
    <% end %> </li>
  </ul>

<br>

<h2>Genres</h2>
  <ul>
    <li><% @artist.genres.each do |genre| %>
    <a href="/genres/<%= genre.slug %>"> <%= genre.name %></a>
    <% end %></li>
  </ul>
