<p> Name: <%=@artist.name%></p>
<% @artist.songs.each do |song| %>
   <a href="/songs/<%= song.slug %>"> Song: <%= song.name%> <a>
    <% song.genres.each do |g| %>
        <a href="/genres/<%= g.slug %>"> Genre: <%=g.name%> <a>
  <% end %>
<% end %>

