<h1><%=@artist.name%></h1>

<% if @artist.songs%>
  <ol>
    <% @artist.songs.each do |song| %>
      <li><h3><a href="/songs/<%= song.slug %>"><%=song.name %></a></h3></li>
    <% end %>
  </ol>
<% else %>
  No Songs
<% end %>

<% if @artist.genres %>
  <ol>
    <% @artist.genres.each do |genre| %>
      <li><h3><a href="/genres/<%= genre.slug %>"><%=genre.name %></a></h3></li>
    <% end %>
  </ol>
  <% else %>
    No Genres
  <% end %>
