<h1>Artist: <%= @artist.name %></h1>
<h3>Songs:</h3>
<ul>
  <% @songs.each do |s| %>
    <li><a href='/songs/<%= s.slug %>'><%= s.name %></a></li>
  <% end %>
</ul>

<h3>Genres:</h3>
<ul>
  <% @genres.each do |genre| %>
    <li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></li>
  <% end %>
</ul>
