<h1>Artist Name: <%= @artist.name %><h1>

<div>Song Name(s):
  <ul>
    <% @artist.songs.each do |s| %>
      <li>
        <a href="/songs/<%= s.slug %>"><%= s.name %></a>
      </li>
    <% end %>
  </ul>
</div>

<div> Genre(s):
  <ul>
    <% @artist.genres.each do |g| %>
      <li>
        <a href="/genres/<%= g.slug %>"><%= g.name %></a>
      </li>
    <% end %>
  </ul>
</div>