<h1>Update Song</h1>

<h2>Edits for <%= @song.name %></h2>

<form action="/songs/<%= @song.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Edit the Artists's Name:</label>
  <input type="text" id="Name" name="song[name]" value ="<%=@song.name%>">
  <br>
  <br>

  <p>Select an existing genre or create a new one below.</p>
  <%Genre.all.each do |genre|%>
    <br><input type="checkbox" id="<%=genre.name%>" name="song[genre_ids][]" value="<%=genre.id %>" <%='checked' if @song.genres.include?(genre)%>><%=genre.name%>
  <%end%>
  <br></br>

  <h3>New Genre</h3>
  <label>Genre Name: </label>
  <input type="text" id="Genre Name" name="genre[name]">
  <br></br>


  <p>Select an existing artist or create a new one below.</p>


  <h3>Existing Artists</h3>
  <% Artist.all.each do |artist| %>
    <input type="checkbox" name="song[artist_id]" id="<%=artist.name%>" value="<%= artist.id %>" <%='checked' if @song.artist == artist %>><%= artist.name %></input><br>
  <% end %>
  <br>

  <h3>New Artist</h3>
  <label>Artist Name: </label>
  <br>
  <input type="text" name="artist[name]" id="Artist Name"></input>
  <br><br>

  <input type="submit" value="Save">
</form>
