<!DOCTYPE html>
<html>
    <head>
        <title>SONG EDIT</title>
    </head>
    <body>
        <form action='/songs' method="post">
        <label>Song Name</label>
        <input type='text' name="Name" value ="<%=@song.name%>">
        <label>Artist Name</label>
        <input type='text' name="Artist Name" value="<%=@song.artist%>">
        
         <%Genre.all.each do |genre|%>
        <input type="checkbox" name="pet[genre_id]" value="<%=genre.id%>" id="<%=genre.id%>"><%=genre.name%></input>
        <%end%>
        <input type='submit' value="Create" id="Create">
    </body>
</html>