<h1>Edit Songs</h1>
<form method ="post" action ="/songs/<%=@song.slug%>">
  <input type ="hidden" id ="hidden" name ="_method" value ="PATCH">
  <input type="text" id="Name" name="song[name]" value ="<%=@song.name%>">
  <br></br>

  Existing Genre:
  <%@genres.each do |genre|%>
    <br><input type="checkbox" id="<%=genre.name%>" name="song[genre_ids][]" value="<%=genre.id.to_i%>" <%='checked' if @song.genres.include?(genre)%>><%=genre.name%>
  <%end%>
  <br></br>

  Or create a new genre:
  <br>Name: <input type="text" id="Genre Name" name="genre[name]">
  <br></br>

  Existing Artist:
  <%@artists.each do |artist|%>
    <br><input type="checkbox" id="<%=artist.name%>" name="song[artist_id]" value="<%=artist.id.to_i%>" <%='checked' if @song.artist==artist%>><%=artist.name%>
  <%end%>
  <br></br>

  Or create a new artist:
  <br>Name: <input type="text" id="Artist Name" name="artist[name]">
  <br></br>

  <input type="submit" value="Save">
</form>
