<form action="/songs/<%= @song.slug%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label for="song_name">Song Name</label><input type="text" id="song_name" name="song_name" value="<%= @song.name %>"><br>
    
    <label>Song Genres</label><br>
    <% @genres_all.each do |genre| %>
        <input type="checkbox" id="<%= genre.id %>" name="genres[]" value="<%= genre.id %>" 
        <% @genres.each do |inner_genre| %>
            <% if (inner_genre.id == genre.id)  %>
                <%= "checked" %> 
            <% end %> 
        <% end %> 
        />
        
        <%= genre.name %><br>
    <% end %>

    <label for="song_artist">Song's Artist</label><input type="text" id="song_artist" name="song_artist" value="<%= @song.artist.name %>"><br>

    <input type="submit" value="Create Song">
</form>