<h1>Edit a song:</h1>

<form method="post" action="/songs/<%= @song.slug %>">
  <input id="hidden" type="hidden" name="_method" value="patch" />
  <label>Name:</label>

  <br></br>

  <input type="text" name="song[name]" id="song_name" value="<%= @song.name %>" />

  <br></br>

  <label>Choose an artist:</label>

<ol>
  <% @artists.each do |artist| %>
    <input type="radio" name="song[artist]" id="<%= artist.id %>" value="<%= artist.id %>"
    <%= 'checked' if @artist.id != nil && @artist.id == artist.id %>></input><span><%= artist.name %></span>
  <% end %>
</ol>
