<h1>Edit Song</h1>
<form action="/songs/<%= @song.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch"/>
  <label for="Name">Name: </label><br>
  <input type="text" name="song[name]" id="Name" value="<%= @song.name %>"/><br>
  <label for="Artist Name">Artist Name: </label><br>
  <input type="text" name="artist[name]" id="Artist Name" value="<%= @song.artist.name %>"/><br>
  <% @genres.each do |genre| %>
    <input type="checkbox" name="genre[name][]" id="<%= genre.name %>" value="<%= genre.name %>" <%='checked' if @song.genres.include?(genre) %>>
    <%= genre.name %>
  </input>
  <% end %><br>
  <input type="submit" id="Save" value="Update"/>
</form>
