<h1>Edit Song</h1>

<form action="/songs/<%= @song.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <%= @song.name %> <input id="name" type="text" name="song[name]"><br>
    <%= @song.artist.name %><input id="Artist Name" type="text" name="song[artist]"><br>
    Genre:<br>
    <% @genres.each do |genre| %>
        <input type="checkbox" 
        id="<%= genre.name %>" 
        name="song[genres][]" 
        value="<%= genre.id %>"
            <%='checked' if @song.genres.include?(genre) %>>
        <%= genre.name %></input><br>
    <% end %>
    <input type="submit" id="Save" value="Save">
</form>