
<form method="POST" action="/songs/<%= @song.slug %>">
<input type="hidden" name="_method" value="PATCH">

<h2><label for="name">Name</label></h2> 
<input type="text" id="name" name="song[name]" value="<%= @song.name %>">

<label for="artist_name">Artist Name</label>
<input type="text" id="artist_name" name="artist[name]" value="<%= @song.artist.name %>">

<label>Genres</label>
<% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%=genre.id%>" <%= 'checked' if @song.genres.include?(genre) %> >
<% end %>


<button type="submit">Save</button>
</form>