<h1> Edit The Song </h1>

<form action="/songs/<%=@song.slug%>" method="POST">
<input type="hidden" id="hidden" name="_method" value="patch">
<h3>Song Name: <input type="text" name="song[name]" id="Name" value="<%=@song.name%>"></h3>
 


<h3> Artist: <input type="text" name="artist[name]" id="Artist Name" value="<%=@song.artist.name%>"> </h3>

<h4>Genres</h4>
<%Genre.all.each do |genre|%> 
<input type="checkbox" name="genres[]" id="<%=genre.name%>" value="<%= genre.id%>"  <%='checked' if @song.genres.include?(genre)%>>
<%=genre.name%>
<br>
<%end%>

<input type="submit" name="submit" id="Save" value="Save Song">

</form>
