Song edit page

<p><%=@song.name%></p>
<p><%= @song.artist%></p>

<form action="/songs/<%= @song.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="song_name">Name</label>
  <input type="text" name="song_name" id="Name"><br>

  <label for="artist_name">Artist Name</label>
  <input type="text" name="artist_name" id="Artist Name"><br>

  <% Genre.all.each do |genre| %>
    <label for="<%=genre.name%>"><%= genre.name %></label>
    <%= genre.name%> <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
  <% end %>
  <label for="genre_name">Genre Name</label>
  <input type="text" name="genre_name" id="Genre Name"><br>

  <input type="submit" value="Update" id="Save">

</form>
