<h1>Edit Song</h1>

<form action="/songs/<%= @song.slug %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    
    <label><h4>Song Name</h4></label>
    <input type="text" id="name" name="song[name]" value="<%= @song.name %>"><br></br>
    
    <label><h4>Artist Name</h4></label>
    <input type="text" id="new_artist" name="Artist Name" value="<%= @song.artist.name %>">
  

    <label><h4>Genres</h4></label>
    <% Genre.all.each do |genre| %>
        <label><%= genre.name %></label>
        <input type="checkbox" name="genres[]" value="<%= genre.id %>" id="<%= genre.name %>" <%='checked' if @song.genres.include?(genre) %>><br>
    <% end %>

    <input type="submit" value="Save">
</form>