<html>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
  <body>
    <h1>Edit a Song</h1>
    <br>
    <h2>Edits for <%= @song.name %></h2>

    <br>
    <form action="/songs/<%= @song.slug %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" name="song[name]" id="Name" value="<%= @song.name %>" ></input>
    <br>

    <label>Edit Song Genre:</label>
    <% @genres.each do |genre| %>
      <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>"<%= 'checked' if @song.genres.include?(genre) %>><%= genre.name %></input>
    <% end %>

    <br>

    <label>Edit Song Artist:</label>
    <input type="text" name="artist[name]" id="Artist Name" value="<%= @song.artist.name %>"></input>

    <br>

    <input type="submit" name="submit" value="Save">
  </form>
  </body>
</html>
