<h1>Edit <%= @song.name %></h1>
<form action="/songs/<%= @song.slug %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<label for="artist_name">Artist Name</label>
<input type="text" id="artist_name" name="artist[name]" value="<%= @song.artist.name %>"><br><br>
<label for="song_name">Song Name</label>
<input type="text" id="song_name" name="song[name]" value="<%= @song.name %>"><br><br>
<label>Genres:</label><br>
    <% @genres.each do |genre| %>
        <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>" <%='checked' if @song.genres.include?(genre) %>>
        <label for="<%= genre.name %>"><%= genre.name %></label><br>
    <%end%><br>
<input type="submit" value="Save" />
</form>
