<h1>Update Song</h1>

<h2>Edits for <%= @song.name %></h2>

  <form action="/songs/<%=@song.slug%>" method="POST">

    <input id="hidden" type="hidden" name="_method" value="patch">



    <label for="name">Name</label>
    <input type="text" name="song_name" id="name" value="<%= @song.name %>">

    <label for="artist_name">Artist Name</label>
    <input type="text" id="Artist Name" name="artist_name" value="<%=@song.artist.name%>"/>


    <h3>Genres</h3>
    <% Genre.all.each do |genre| %>
      <label><%= genre.name %></label>
      <input type="checkbox" name="genres[]" value="<%= genre.id %>" id="<%= genre.name %>" <%='checked' if @song.genres.include?(genre) %>>
    <% end %>

    <input type="submit" value="Save">
  </form>
