<h2>Update Song: <%= @song.name %></h2>

<form action="/songs/<%= @song.slug %>" method="POST">
   <input type= "hidden" name="_method" value="PATCH">
   <label for="Name">Song Name:</label>
   <input id="Name" type="text" name="Name" value="<%= @song.name %>">

   <label for="Artist Name">Update Artist:</label>
   <input id="Artist Name" type="text" name="Artist Name" value="<%= @song.artist.name %>"><br><br>

   <label>Genres:</label>
   <% Genre.all.each do |genre| %>
      <input type="checkbox" id="<%= genre.name %>" name="genres[]" value="<%= genre.id %>" <%= 'checked' if @song.genres.include?(genre) %>> <%= genre.name %>
    <% end %>
    <br><br>

    <input type="submit" value="Save">

 </form>