<!DOCTYPE html>
<html lang="en">
<head>
	<title>Edit</title>
</head>
<body>
	<h1>Edit:</h1>

	<form action="/songs/<%= @song.slug %>" method="post">
		<input type="hidden" id="hidden" name="_method" value="patch">
		<input type="text" name="song[name]" value="<%= @song.name %>">

		<h3>Artist:</h3>
		<input type="text" id="Artist Name" name="artist[name]" value="<%= @song.artist.name %>">


		<h3>Genres:</h3>
		<% Genre.all.each do |genre| %>
			<input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>"><%= genre.name %> <br>
		<% end %>

		<input type="submit" value="Save">
	</form>
</body>
</html>
