<h1> Create a new Song</h1>

<form action="/songs" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
    <label for="song_name">Name</label>
    <br>
    <input type="text" name="song[name]" id="song_name">
    <br>

    <p>Select an existion Artist or a new one</p>

    <h3>Existing Artist</h3>

    <% @artists.each do |Artist|%>
     <label for="<%= artist.id%>"><%= artist.name%> </label>
        <input type="radio" name="song[artist_id]" id="<%= artist.id%>" value="<%= artist.id %>">
            <%= artist.name%>
        </input>
    <% end %>

    <h3> New Artist </h3>
 <label for="artist_name"> Artist Name: </label>
    <br>
        <input type="text" name="artist_name" id="artist_name"></input>
    </br>

    
    <h3>Existing Genre <h3>

<% @genres.each do |Artist|%>
 <label for="<%= genre.id%>"><%= genre.name%> </label>
        <input type="checkbox" name="song[genre_id]" id="<%= genre.id%>" value="<%= genre.id %>">
            <%= genre.name%>
        </input>
<% end %>
 
 <h3> New Genre </h3>
 <label for="genre_name">Genre:</label>
    <input type="text" name="song[genre]" id="song_genre">



    <input type="submit" value="Edit Song"> 
</form>