<h1>Update Song</h1>

<h2>Edits for <%= @song.name %></h2>

  <form action="/songs/<%=@song.slug%>" method="POST">

    <input id="hidden" type="hidden" name="_method" value="patch">



    <label for="Artist Name">Artist Name: </label>
    <input type="text" id="Artist Name" name="artist_name" value="<%=@song.artist.name%>"/>
    <br><br>


    <h3>Genres</h3>
    <% Genre.all.each do |genre| %>
      <input type="checkbox" name="genre_ids[]" id="<%= genre.name %>" value="<%= genre.id %>" <%='checked' if @song.genre.include?(genre) %>><%= genre.name %></input><br>
    <% end %>
    <br>

  </form>
