<% @songs.each do |song| %>
    <div>
    <h2><%= song.name %>, by <%= song.artist.name %></h2>
    <% song.genres.each do |g| %>
        <h3><%= g.name %></h3>
    <% end %>
    <a href = '/songs/<%= song.slug %>'><%= song.name %>'s page</a>
    </div>
    <% end %>