<h1> New Song: </h1>
<form action='/songs' method='POST'>
    <label for='song_name'>Song name: </label> <input type='text' id='Name' name='name'> <br>
    <label for='artist_name'>New Artist name (or choose from options below): </label> <input type='text' id='Artist Name' name='song[artist_name]'> <br>
    <% @artists.each do |artist| %>
        <input type="radio" name="artist_name" id="<%= artist.name %>" value="<%= artist.name %>"> <%= artist.name %> </input> <br>
    <% end %> <br>
    <label for='genre_name'>Genre name (or choose from options below): </label> <input type='text' id='Genre Name' name='song[genre_name]'> <br>
    <% @genres.each do |genre| %>
        <input type="checkbox" name="song[genre_name]" id="<%= genre.name %>" value="<%= genre.name %>"> <%= genre.name %> </input> <br>
    <% end %> <br>
    <input type='submit' id='create' value="Create">
</form>