<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%= @song.name %></h1>

<h2>Artist: <a href="/artists/<%= @artist.slug %>"><%= @artist.name %></a></h2>

<h2>Genres:</h2>
<% @genres.each do |genre| %>
    <ul>
      <li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></li>
    </ul>
  <% end %>

