<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%= @song.name %></h1>

<h2>Artist: <%=@song.artist.name %> </h2>
<a href="/artists/<%=@song.artist.slug%>"></a>
<br>
Genre: <% @song.genres.each do |genre| %> 
 <h2>   <%= genre.name %>   </h2>
    <a href="/genres/<%= genre.slug %>"></a>
    <% end %>