<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<p><%=@song.name%> - <a href='/artists/<%=@song.artist.slug%>'><%=@song.artist.name%></a> <br> 
    <% @song.genres.each { |genre| %>
        <a href="/genres/<%=genre.slug%>"><%=genre.name%></a><br/>
    <% } %>
    
</p>
