<h1>Song Name: <%= @song.name %> </h1>
<h2>Song Artist: 
<a href="/artists/<%= @song.artist.slug%>"> <%= @song.artist.name %></a> </h2>
<h2>Song Genre(s): <% @song.genres.each do |genre| %> 
<br><a href="/genres/<%= genre.slug%>"> <%= genre.name.titleize %></a>
<% end %>
</h2>

