<h1><%= @song.name %></h1>
<h4>Artist</h4>
<p><a href='/artists/<%= @artist.slug %>'><%= @artist.name %></a></p>

<h4>Genres</h4>
<ul>
<% @genres.each do |genre| %>
  <li><a href='/genres/<%= genre.slug %>'><%= genre.name %></a></li>
<% end %>
</ul>

<h4>Successfully created song.<h4>