<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1> <%= @song.name %> </h1>

<a href="/artists/<%= @song.artist.slug %>" id="song_name"> <%= @song.artist.name %> </a>
<br>
<% @song.genres.each do |genre| %>
  <a href="/genres/<%= genre.slug %>"><%= genre.name %> </a>
<% end %>