<html>

  <head></head>
  <body>

    <% if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %>


    <h2><%= @song.name.upcase %></h2>

 



   <h4><a href="/artists/<%= @song.artist.slug %>"> <%= @song.artist.name %> </a></h4>


   <% @song.genres.each do |genre| %>
  <a href="/genres/<%= genre.slug %>"><%= genre.name %><br> </a>
    <% end %>
<center><a href="/songs/<%= @song.slug %>/edit">EDIT</a><br><br>
<a href="/">HOME</a></center>

  </body>

</html>
