<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1> <%= @song.name %> </h1>
<h2> <%= @song.name %>'s Genres </h2>

<ol>
<% @song.genres.each do |genre| %>
<li><a href='/genres/<%= genre.slug %>'><%= genre.name %></a> </li>
<% end %>
</ol>

<h2> <%= @song.name %>'s Artist </h2>

<%# <ol>
<% @song.artist.each do |artist| %>
<a href='/artists/<%= @song.artist.slug %>'><%= @song.artist.name %></a>
<%# <% end %>
<%# <ol> %>