<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
    table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

a:hover {
  text-decoration: underline;
}
  </style>
</head>
<body>
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
  <table>
  <tr>
    <th>Name of Artist</th>
    <th>Song's Name</th>
    <th>Song's Genres</th>
  </tr>
  <tr>
    <td><a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></td>
    <td><%= @song.name %></td>
      <% @song.genres.each do |genre| %>
        <td><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></td>
      <% end %>
  </tr>
</table>
</body>
</html>
