<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%=@song.name%></h1>
<h2><a href="/artists/<%=@artist.slug%>"><%=@artist.name%></a></h2>

<% @genres.each do |genre| %>
  <h2><a href="/genres/<%=genre.slug%>"><%=genre.name%></a></h2>
  <% end %>
