<h1><%= @song.name %> Show Page</h1>
<h3>Artist: <a href="/artists/<%=@song.artist.slug%>"><%= @song.artist.name %></a><br></h3>
<h3>Genre: <a href="/genres/<%=@song.song_genres.first.genre.slug%>"><%= @song.song_genres.first.genre.name %></h3>



