<!-- rspec ./spec/features/05_song_form_spec.rb:26 #          Song Forms /songs/new without an existing artist creates a new song on submit
rspec ./spec/features/05_song_form_spec.rb:38 #               Song Forms /songs/new without an existing artist redirects to '/songs/:slug' after creation
rspec ./spec/features/05_song_form_spec.rb:52 #               Song Forms /songs/new with an existing artist does not create a new artist
rspec ./spec/features/05_song_form_spec.rb:61 #               Song Forms /songs/new with an existing artist creates a new song and associates it with an existing artist
rspec ./spec/features/05_song_form_spec.rb:73 #               Song Forms /songs/new with an existing artist redirects to '/songs/:slug' after creation -->


<!-- if !Artist.all.include?(params[:artist_name])
  artist = Artist.create(name: params[:artist_name])
  song.artist = artist
  binding.pry
end -->


<!-- <h1>Edit a song:</h1>

<form method="post" action="/songs/<%= @song.slug %>">

  <input id="hidden" type="hidden" name="_method" value="patch" />
  <label>Name:</label>

  <br></br>

  <input type="text" name="song[name]" id="song_name" value="<%= @song.name %>" />

  <br></br>

  <label>Choose an artist:</label>

  <input type="text" name="song[artist]" id="Artist Name" />



  <br></br>

  <% @genres.each do |genre| %>
    <input type="checkbox" name="song[genre]" id="<%= genre.id %>" value="<%= genre.id %>"
    <% @song.genres.each do |song_genre| %>
      <%= 'checked' if song_genre == genre %>></input><span><%= genre.name %></span>
    <% end %>
  <% end %>

  <br></br>

  <input type="submit" value="Save" />

</form> -->
