<p> <%= @slug_song.name %> </p>

<a href="/artists/<%= @slug_song.artist.slug %>"> <%= @slug_song.artist.name %> </a>

<section>
  <% @slug_song.genres.each do |g| %>
    <a href="/genres/<%= g.slug %>"><%= g.name %> </a>
  <% end %>
</section>